 h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
 }
 ul, ol  {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
 }

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height:auto ;
}

body {
    font-family: 'Roboto', sans-serif;
    Size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    
}
.section {
   padding: 120px 0;
}
.section-flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
   
}
 /*navigation*/
 .header {
    border-bottom: 1px solid #e7e9fc
 }
 
 .contacts {
    display: flex;
    flex-direction: row;   
    align-items: center;
 }
 .header-nav {
     display: flex;
     align-items: center;
 }

.header-title {
    letter-spacing: 0.03em;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 117%;
    font-family: "Raleway", sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 76px;
}
.header-title-name {
    color: #2E2F42;
}

.header-nav-list {
    display: flex;
    gap: 40px;
    margin-right: 332px;
}
.header-nav-item {
    padding: 24px 0;
}
.header-nav-link {
letter-spacing: 0.02em;
font-weight: 500;
color: #2e2f42;
line-height: 150%;
padding: 24px 0;
}
.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link:focus {
color: #404BBF ;
}
/*address*/
.address {
    font-style: normal;
    
}
.address-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
}
.address-link {
color: #434455;
line-height: 150%;
letter-spacing: 0.02em
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
/*section 1*/
.title-page {
    
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(/images/people-office\ 1.jpg);
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: 124px 0;
   
}
.title {
    font-size: 56px;
    line-height: 107%;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.title-button {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    font-weight: 500;
    background-color: #4D5AE5;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    border: none;
    height: 56px;
    margin: 0 auto;

}
.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/*section 2*/
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.benefits-title {
font-size: 20px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.benefits-text {
    font-weight: 400;
    line-height: 150%;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*section 3*/
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42 ;
    margin-bottom: 72px;
}

.team-item {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 1px #2e2f422f;
width: calc((100% - 72px) / 4);
}
.personal {
    padding: 32px 0;
}
.team-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42 ;
    text-align: center;
    margin-bottom: 8px
}
.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}
/*section 4*/
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42 ;
    margin-bottom: 72px;
}
.portfolio-list { 
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    
}
.program {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item-title {
font-weight: 500;
font-size: 20px;
color: #2E2F42;
line-height: 120%;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.portfolio-item-text {
font-weight: 400;
line-height: 150%;
letter-spacing: 0.02em;

}
/*footer*/
.section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer {
    background-color: #2E2F42;

}

.footer-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    line-height: 117%;
    display: inline-block;
    margin-bottom: 16px;
}
.title-second-name {
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    line-height: 150%;
    letter-spacing: 0.02em;
   margin-right: 864px;
}